.icon {
    padding: 10px;
    color: green;
    background-color: #EEEE;
    min-width: 35px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}

.radio{

    background-color: black;
}