<div style="background-color: aquamarine;">
    <div class="container">
        <div class="row bg-light my-3">
            <h1>
                <b>
                    SIP Maturity Amount Calculator
                </b>
            </h1>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row bg-light">
                    <div class="my-2"><i class="fa fa-calculator"></i><b> Calculator SIP Maturity Amount</b></div>
                    <hr>
                    <div class="row">
                        <div class="lh-lg col-4">SIP Amount
                            <div class="input-group flex-nowrap">
                                <i class="fa fa-inr icon bg-grey "></i>
                                <input type="number" class="form-control" placeholder="Select Birth Date"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="lh-lg col-4">Investment Period/SIP Period
                            <div class="input-group flex-nowrap">
                                <i class="fa fa-calendar icon bg-grey "></i>
                                <input type="number" class="form-control" placeholder="Select Birth Date"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                                <button class="btn btn-light">
                                    <input class="" type="radio" name="cal" id="y"> <label class="btn btn-primary" for="y">Y</label>
                                    <input class="d-none" type="radio" name="cal" id="m"> <label class="btn btn-primary" for="m">M</label>
                                </button>
                            </div>
                        </div>
                        <div class="lh-lg col-4">Expected Annual Returns (%)
                            <div class="input-group flex-nowrap">
                                <i class="fa fa-percent icon bg-grey "></i>
                                <input type="number" class="form-control" placeholder="Select Birth Date"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="lh-lg col-4">Maturity Period
                            <div class="input-group flex-nowrap">
                                <i class="fa fa-calendar icon bg-grey "></i>
                                <input type="number" class="form-control" placeholder="Select Birth Date"
                                    aria-label="Username" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col">
                            <br>
                            <button class="mt-2 btn btn-primary">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>